@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  color: white;
}

body{
  background-color: #242424;
  font-family: "Rubik", sans-serif;
}

.container{
  width: 1120px;
  margin: 0 auto;
}

.search__movie{
  width: 650px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  margin: 0 auto;
  display: block;
  margin-top: 70px;
  padding-left: 25px;
}

.search__movie::placeholder{
  font-weight: 700;
}

.movies{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.movie{
  width: 200px;
}

.movie__img{
  width: 200px;
  height: 300px;
  transition: .5s ease all;
  transform:scale(100%);
  cursor: pointer;
}

.movie__img:hover{
  transform: scale(110%);
}

.loading{
  display: block;
  margin: 0 auto;
  width: 96px;
  animation: 2s spin linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0);
  }

  to{
    transform: rotate(360deg);
  }
}

.not__found{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.modal__window{
  width: 1000px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: transform .5s ease, opacity .5s ease;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 40px 45px;
}

.modal__window.active{
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}

.modal__bg{
  width: 99vw;
  height: 99vh;
  background-color: rgba(0,0,0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease all;
  opacity: 0;
  pointer-events: none;
}

.modal__bg.active{
  opacity: 1;
  pointer-events: all;
}

.modal__img{
  height: 350px;
  margin-right: 25px;
}

.modal__window div{
  width: 800px;
}